@page "/"

<p>Использованная библиотка компонентов - <a href="https://blazorise.com/docs">Blazorise</a></p>
<p>Использованный css фреймворк - <a href="https://bootstrap5demo.blazorise.com/">Bootstrap 5</a></p>
<p>Аналоги:</p>
<ul>
	<li><a href="https://mudblazor.com/">MudBlazor</a></li>
	<li><a href="https://blazor.radzen.com/">Radzen</a></li>
	<li><a href="https://antblazor.com/">Ant Design Blazor</a></li>
	<li><a href="https://fluentui-blazor.net">Fluent UI Blazor</a></li>
</ul>