<div class="card">
	<div class="card-body">
		<h5 class="card-title">@currentTime</h5>
		<button class="btn btn-primary" @onclick="UpdateTime">Display time</button>
	</div>
</div>

@code {
	private DateTime currentTime = DateTime.Now;
	private void UpdateTime() => currentTime = DateTime.Now;
}
